<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" configfailurepolicy="continue">
  <test thread-count="5" name="Test">
   <groups>																																																
  <run>

  
   <!-- Brahmith group--> 
<!-- <include name="Brahmith1"/> -->
 <!-- 5 scenarios and 1 develpment pending--> 
<include name="NextPayDate"/>    <!-- 4 scenarios --> 

<!-- Janaki group--> 		
<!-- <include name="Janaki"/> -->




  </run>
  </groups>
   <classes>
      <class name="tests.QCStore"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
