<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" configfailurepolicy="continue">
  <test thread-count="5" name="Test">
   <groups>
  <run>

  
  <!-- Brahmith group-->
   <include name="Brahmith"/> 


  <!-- Janaki's group-->
  <!--  <include name="Janaki"/>   -->
<!--    <include name="Janaki_EOD_set1"/> -->
 <!--   <include name="Janaki_EOD_set2"/> -->																			
   
 	<!-- Anoop group-->
 <!--   <include name="Anoop"/> -->
   <!-- <include name="Anoop_bankruptcy"/> -->
<!--  <include name="Anoop_writeoff"/>
   <include name="Anoop_st_void"/>
   <include name="Anoop_st_down"/> -->


  </run> 
  </groups>
    <classes>
      <class name="tests.QCStore"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
