<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" configfailurepolicy="continue">
  <test thread-count="5" name="Test">
  <groups>
  <run>
  <include name="Samatha"/>
  </run>
  </groups>
    <classes>
      <!-- <class name="tests.LendNationPersonalInformation"/> -->
      <!-- <class name="tests.LendNationRepaymentInformation"/> -->
      <class name="tests.LendNation"/>
      <!-- <class name="tests.LendNationFinancialInformation"/> -->
     <!--  <class name="tests.LendNationSubmitApplication"/> -->
     <!--  <class name="tests.LendNationLoanDecision"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
